extends layout

block content
  .page-header
    h3 FMK

  p #{user}


  //for user in users
    //img(src=user.profile.website)
  img(src=users.profile.website) 

  button(href='/account/profile') fuck

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='selectedUser', value = users)
    button.btn.btn-primary.btn-reset(type='submit')
      i.fa.fa-keyboard-o
      | Change Password
