extends layout

block content
  .page-header
    h3 FMK

  p #{user}


  //for user in users
    //img(src=user.profile.website)
  img(src=users.profile.website) 


  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='selectedUser', value = users)
    button.btn.btn-primary.btn-reset(name='submit_btn' type='submit' value='fuck_btn')
      i.fa.fa-keyboard-o
      | FUCK
    button.btn.btn-primary.btn-reset(name='submit_btn' value='marry_btn' type='submit')
      i.fa.fa-keyboard-o
      | MARRY
    button.btn.btn-primary.btn-reset(name='submit_btn' value='kill_btn' type='submit')
      i.fa.fa-keyboard-o
      | KILL
